In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Extract Netflix Original Movies
movies_file = "../Resources/NetflixFilm Originals.csv"
movies_data_df = pd.read_csv(movies_file)
movies_data_df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,5-Aug-19,58,2.5,English/Japanese
1,Dark Forces,Thriller,21-Aug-20,81,2.6,Spanish
2,The App,Science fiction/Drama,26-Dec-19,79,2.6,Italian
3,The Open House,Horror thriller,19-Jan-18,94,3.2,English
4,Kaali Khuhi,Mystery,30-Oct-20,90,3.4,Hindi

In [14]:
movies_langauge_df=(movies_data_df.set_index(['Title','Genre','Premiere', 'Runtime', 'IMDB Score'])
   .apply(lambda x: x.str.split('/').explode())
   .reset_index())    
movies_langauge_df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,5-Aug-19,58,2.5,English
1,Enter the Anime,Documentary,5-Aug-19,58,2.5,Japanese
2,Dark Forces,Thriller,21-Aug-20,81,2.6,Spanish
3,The App,Science fiction/Drama,26-Dec-19,79,2.6,Italian
4,The Open House,Horror thriller,19-Jan-18,94,3.2,English

In [15]:
movies_genre_df=(movies_langauge_df.set_index(['Title','Premiere', 'Runtime', 'IMDB Score','Language'])
   .apply(lambda x: x.str.split('/').explode())
   .reset_index())  
movies_genre_df.head()

             Title   Premiere  Runtime  IMDB Score  Language            Genre
0  Enter the Anime   5-Aug-19       58         2.5   English      Documentary
1  Enter the Anime   5-Aug-19       58         2.5  Japanese      Documentary
2      Dark Forces  21-Aug-20       81         2.6   Spanish         Thriller
3          The App  26-Dec-19       79         2.6   Italian  Science fiction
4          The App  26-Dec-19       79         2.6   Italian            Drama